@import "src/scss/vars";

.body {
  display: flex;
  align-items: center;
  background-color: $grayFon;
  border-radius: 10px;
  overflow: hidden;
  height: 38px;

  margin-right: 35px;

  .info {
    padding: 0 16px;
  }

  button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;

    &:first-child {
      transform: rotate(180deg);
      border-left: 1px solid $lightGray;
    }

    &:last-child {
      border-left: 1px solid $lightGray;
    }
  }
}